.footer
{
    overflow: hidden;
    position: sticky;
    background-color: #000;
    color: #fff;
    top: 100%;   
}

h3
{
    font-size: 25px;
}


p
{
    color: rgb(221, 221, 221);
    font-weight: bold;
    font-size: 12px;
    /* font-weight: lighter; */
}

a{
    text-decoration: none;
    padding: 10px 5px;
    color: #fff;
    transition: 0.2s;
}

a:hover
{
    color: var(--primary-color);
}

.row i 
{
    padding: 10px;
}
