<div class="container mb-5">
    <!-- <h1 class="text-center">Customer's <span class="highlight">favourite Food </span></h1> -->
    <div class="row">
        <div class="col-lg-4 mt-3" *ngFor="let fd of foodData ; let i=index" >
                <div class="foodbox">
                    <img src="{{fd.foodImg}}" alt="foodimg"/>
                    <h1 class="mt-3 mb-3">{{fd.foodName}}</h1>
                    <p>{{fd.foodPrice | currency:'INR'}}</p>    
                     <a class="buybtn" [routerLink]="['/menu',fd.id]">BUY NOW &nbsp; <i class="bi bi-bag-plus"></i></a>
                </div>     
        </div>
    </div>
</div>
