<div class="banner">
    <div class="content">
    <h1 class="mb-5">Fresh cooked food <span><br> at your Doorstep</span></h1>
    <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="step">
    <h1 class="mt-5 mb-5 text-center">Steps to get <span>fresh food</span> </h1>
    <div class="row">
        <div class="col-lg-4 text-center">
            <div class="stepBox mb-5">
                <h1 >1</h1>
                <p>Select the food</p>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="stepBox  mb-5">
                <h1 >2</h1>
                <p>Select the food</p>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="stepBox  mb-5">
                <h1 >3</h1>
                <p>Select the food</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            
        </div>
    </div>
</div>